    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.7em;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    
    h1,
    h2,
    h3 {
        padding-bottom: 20px;
    }
    
    p {
        margin: 10px, 0px;
    }
    
    .container {
        margin: 0 auto;
        max-width: 1100px;
        overflow: hidden;
        padding: 0, 20px;
    }
    
    .bg-dark {
        background: #444;
        color: #fff;
    }
    
    #navbar {
        background: #333;
        color: #fff;
        overflow: auto;
    }
    
    #navbar a {
        color: #fff;
    }
    
    #navbar h1 {
        float: left;
        padding-top: 20px;
    }
    
    #navbar ul {
        float: right;
        list-style: none;
    }
    
    #navbar ul li {
        float: left;
    }
    
    #navbar ul li a {
        display: block;
        padding: 20px;
        text-align: center;
    }
    
    #navbar ul li a:hover {
        background: #333;
        color: #f7c078;
    }
    
    .btm {
        display: inline-block;
        font-size: 18px;
        color: #fff;
        background: #333;
        padding: 13px 20px;
    }
    
    .btm:hover {
        background: #f7c078;
    }
    
    .body1 {
        background-color: #333;
        height: 800px;
        width: auto;
        margin-top: 10px;
    }
    
    .outer {
        background: url("https://uploadfile.bizhizu.cn/up/0b/fc/13/0bfc13e4d861300ec429175cc34e03d0.jpg.source.jpg")no-repeat center;
        height: 1000px;
        width: 100%;
    }
    
    #showcase {
        background: url("https://uploadfile.bizhizu.cn/up/0b/fc/13/0bfc13e4d861300ec429175cc34e03d0.jpg.source.jpg") no-repeat center center/cover;
        height: 800px;
        margin-top: 10px;
    }
    
    #showcase .showcase-content {
        color: #fff;
        text-align: center;
        padding-top: 200px;
    }
    
    #showcase .showcase-content h1 {
        font-size: 50px;
        line-height: 1.2em;
    }
    
    .text-primary {
        color: #FF8C00;
    }
    
    #showcase .showcase-content p {
        font-size: 20px;
        line-height: 1.7em;
        padding-bottom: 20px;
    }
    
    .text-plus {
        font-size: 30px;
    }
    
    .wo1 {
        background-color: #fff;
        height: 300px;
        width: 100%;
        margin-top: 10px;
    }
    
    .wo1-left {
        background: url("../image/201515-158211451517f1.jpg") no-repeat center;
        float: left;
        height: 305px;
        width: 44%;
        margin-left: 50px;
    }
    
    .wo1-left h3 {
        text-align: center;
        margin-top: 20px;
        color: #696969;
    }
    
    .wo1-left h2 {
        text-align: center;
        color: #FF8C00;
    }
    
    .wo1-right {
        background-color: #333;
        float: right;
        height: 305px;
        width: 44%;
        margin-right: 50px;
    }
    
    .wo1-right h2 {
        text-align: center;
        color: #fff;
        margin-top: 5px;
    }
    
    .wo1 img {
        height: 250px;
        width: 100%;
    }
    
    .wo2 {
        background-color: #444;
        margin-top: 20px;
        height: 200px;
        width: 100%;
    }
    
    .wo2 ul li {
        float: left;
        height: 200px;
        list-style: none;
    }
    
    .word h2 {
        color: #fff;
        text-align: center;
        margin-top: 50px;
    }
    
    .wo3 {
        background: #fff;
        margin-top: 10px;
        width: 100%;
        height: 500px;
    }
    
    .top1 h2 {
        text-align: center;
        color: #696969;
        padding-top: 15px;
        font-size: 20px;
    }
    
    .top1 h3 {
        text-align: center;
        color: #FF8C00;
        padding-top: 15px;
        font-size: 30px;
    }
    
    .wo3 ul {
        padding-left: 23%;
        padding-right: 20%;
        list-style: none;
    }
    
    .wo3 ul li {
        height: 150px;
        width: 20%;
        float: left;
        margin-right: 5%;
        margin-bottom: 40px;
    }
    
    .image1 {
        height: 70%;
        background: url("https://tse1-mm.cn.bing.net/th/id/OIP-C.2jmJH5Ar_l33wfCKaEEk5gHaEK?w=299&h=180&c=7&r=0&o=5&pid=1.7") no-repeat top;
    }
    
    .image2 {
        height: 70%;
        background: url("https://tse4-mm.cn.bing.net/th/id/OIP-C.WfqY7vfOrX2DTFkrZgL5WQHaEK?w=333&h=187&c=7&r=0&o=5&pid=1.7") no-repeat;
    }
    
    .image3 {
        height: 70%;
        background: url("https://tse2-mm.cn.bing.net/th/id/OIP-C.pYmBJ91V0McTeH7UNYQSgwHaEo?w=251&h=180&c=7&r=0&o=5&pid=1.7") no-repeat;
    }
    
    .image4 {
        height: 70%;
        background: url("https://tse1-mm.cn.bing.net/th/id/OIP-C.0tR3OmlEeiw9DrKXl2k63AHaEJ?w=326&h=183&c=7&r=0&o=5&pid=1.7");
    }
    
    .image5 {
        height: 70%;
        background: url("https://tse1-mm.cn.bing.net/th/id/OIP-C.I2iAedrB16e_xw9HtvK7gAHaEK?w=279&h=180&c=7&r=0&o=5&pid=1.7");
    }
    
    .wo3 ul li a {
        display: block;
        padding: 9px;
        text-align: center;
        background-color: #696969;
        margin-top: 10px;
    }
    
    .wo3 ul li a:hover {
        background: #FF8C00;
        color: #fff;
    }
    
    .wo4 {
        height: 600px;
        width: 100%;
        background: url("../image/3bf33a87e950352abe79f3875743fbf2b2118b21.jpg") no-repeat top;
    }
    
    .wo4 h4 {
        padding-top: 60px;
        padding-left: 300px;
        font-size: 20px;
        color: #fff;
    }
    
    .wo4 h5 {
        font-size: 40px;
        color: #FF8C00;
        padding-left: 200px;
        padding-top: 50px;
    }
    
    .wo4 ul {
        padding-left: 200px;
        list-style: none;
        padding-top: 50px;
    }
    
    .wo4 ul li {
        padding-top: 38px;
        font-size: 25px;
        color: darkgrey;
    }